<div class="main-div row justify-content-center align-items-center m-3 p-3">
<div class="row justify-content-center align-items-center">
  <div class="col-sm-6 p-4 m-4"  style="background: linear-gradient(to bottom right, #faf6eab4 0%, #583a139d 70%); border-style: outset;  border-color:rgb(148, 119, 65); border-radius: 30px 100px 30px 100px;">
 <div class="row justify-content-center align-items-center p-3 m-1">
    <h1 class="text-center text-warning p-3" style="text-shadow: 3px 2px 3px#3b3b39;">El Buen Sabor</h1>      

         <h5 class="text-center text-light" style="text-shadow: 2px 1px 1px#3b3b39;">Los mejores sabores de Mendoza</h5>             
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      
      <mat-card-actions class="button">
        <button mat-raised-button (click)="singin()" class="text-dark bg-light rounded-pill" style="background: linear-gradient(to bottom right, #f3ede6 0%, #ecb317 73%);  border-color: #8d8d65;" >Ingresá</button>        
      </mat-card-actions>
    </div>
  </div>
</div>
  
  </div>